.containerOne{
    border-radius:10px;
    border:1px solid black;
    text-align:center

}

.logContainer{
    border-radius:10px;
    border:1px solid black;
    text-align:center



}

.secondaryContainer{
    border-radius:10px;
    border:1px solid black;
    text-align:center





}

.newLogDiv{
border:1px solid black;
border-radius:10px;
text-align:center

}